@model IEnumerable<Product>
@section scripts {
    <script src="~/ts/storecustomer.js"></script>
    <script src="~/ts/main.js"></script>
}
<h1>Shop</h1>
<p>@Model.Count()</p>
@foreach (var item in Model)
{
    <div class="col-md-3">
        <div class="well well-sm">
            <img src="~/img/@(item.ArtId).jpg" alt="@item.Title" class="img-responsive" />
            <h3>@item.Category - @item.Size</h3>
            <ul class="product-props">
                <li>Price: @item.Price</li>
                <li>Artist: @item.Artist</li>
                <li>Title: @item.Title</li>
                <li>Description: @item.ArtDescription</li>
            </ul>
            <button id="buyButton">Buy</button>
        </div>
    </div>
}